body {
    font-family: "Roboto", sans-serif;  
}

.img-fluid {
    max-width: 100%;
    height:auto;
}
hr {
    max-width: 80%;
    background-color: #dfdce3;
}

.link-hvr {
    color:#37948a;
}

.link-hvr:hover{
    text-decoration: none;
    color: #dfdce3;
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}  

.back-to-top-link {
    margin-top: 60px;
    text-align: center;
}


/*--------------------------------- Main Navigation*/

.logo, nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.navbar-colour {
    background-color: white;
}

.logo {
    color: #f58c5e;
}

.logo:hover {
    color: #818386;
}

.navbar-nav .active {
   font-weight: bold;
}

.nav-link {
    margin-right: 10px;
}

.nav-link-colour {
    color: #37948a;
   }
   

.nav-link-colour:hover {
    color: #818386;
}

.nav-hover-line {
    position: relative;
}

/*-------from YouTube video-Kevin Powell*/

.nav-hover-line::before{
    content:'';
    display: block;
    height: 3px;
    background: #37948a;
    position: absolute;
    bottom: 3px;
    right: 0px;
    left: 0px;
    transform:scale(0,1);
    transition: transform 0.35s ease-in-out;
}

.nav-hover-line:hover::before{
     transform:scale(1,1);
}

@media (max-width:991px) {
    .nav-hover-line::before {
        display: none;
    }
}

/*-------from YouTube video-Kevin Powell*/

.sub-menu {
    list-style: none;
}

.sub-menu-link {
    color: #f58c5e;
 }

.sub-menu-link:hover {
    color: #818386;
    background-color: rgba(223, 220, 227, .2);
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.dropdown-menu {
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(129, 131, 134, .5);
}

.burger-icon {
    color:#37948a;
    font-size: 30px;
}

.burger-icon:hover {
    color: #818386;
    transition: all 0.15s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}


.sub-menu-main:hover {
    background-color: rgba(223, 220, 227, .2);
    border-radius: 10px;
    color: #818386;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}





/*---------------------------------Main Navigation End*/

/*---------------------------------Headers*/

header {
    height: 40vh;
}

/*---------------------------------Headers End*/

/*--------------------------------- Homepage*/
.header-image-container {
    height: 60vh;
    
    background: url(../images/homepage/home-hero.jpg) no-repeat bottom fixed; 
     -webkit-background-size: cover;
      -moz-background-size: cover;
       -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
    }
    
.homepage-image {
    height: 40vh;
    
    
    
    background: url(../images/homepage/homepage-one.jpg) no-repeat fixed; 
     -webkit-background-size: cover;
      -moz-background-size: cover;
       -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 50px;
    justify-content: center;
    }   
    
.homepage-main {
    text-align: center;
}    

.homepage-intro {
    margin-top: 20px;
    margin-bottom: 20px;
    
}
/*--------------------------------- Homepage End*/   

/*---------------------------------Navigation Tabs*/


/*-------------------------------------------Recipe link buttons*/

.btn-primary:not(:disabled):not(.disabled).active {
    background-color: #f58c5e;
    border-color: #f58c5e;
}

.btn-primary:not(:disabled):not(.disabled).active:hover {
    background-color: white;
    color: #37948a;
    border-color: #37948a;
}

.sml-recipe-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: #37948a;
    padding:10px 20px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-primary {
    border-color: #37948a;
}

.sml-recipe-link:hover {
    background-color: white;
    color: #37948a;
    border-color: #37948a;
}

.btn-recipe-section {
    text-align: center;
    margin: 30px auto 50px;
}

/*---------------------------------Recipe link buttons*/

/*---------------------------------About Us*/
.welcome {
    padding-top: 20px;
}
.welcome p {
    padding: 0px 20px 20px;
    }
    
.welcome h3 {
    font-family: 'Raleway', sans-serif;
    color:#f58c5e;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.3em;
}   

.about-us-text p {
    padding: 5px 20px; 
}  

.welcome-pic {
    padding: 10px 30px 30px 30px;
    text-align: center;
}

.go-natural-pic {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}


/*---------------------------------About Us Ends*/

/*---------------------------------Recipe Page*/



.recipe-headers {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.3em;
    text-align: center;
    margin: 40px auto;
    color: #f58c5e;

}

.recipe-title-block {
 background-color: rgb(55, 148, 138);
 height:70px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;

}

.recipe-title {
    font-family: 'Raleway';
    font-weight: 600;
    text-align: center;
    font-size: 1.3em;
    padding-top: 15px
    }
    
.recipe-title-link {
    color: white;
}    


.recipe-title-link:hover {
    text-decoration: none;
    color: #dfdce3;
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}  

.recipe-image {
    border: 2px solid rgb(55, 148, 138);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.recipe-link-block {
    margin-bottom: 30px;
    
}

/*---------------------------------Recipe Page End*/


/*---------------------------------Media Queries large screen*/


@media (min-width:1025px) {
    .page-width-container {
        max-width: 80%;
    }
    .recipe-title {
        padding-top: 10px;
        font-size: 1.3em;
    }
    .recipe-headers {
        font-size: 3em;
        margin: 70px auto 70px;
    }
    .small-scrn-recipes-links {
        margin: 50px auto 70px; 
    }
    .video-section {
        margin-top: 20px;
    }
    
}

@media (min-width:1550px) {
    .intro-section {
        margin-bottom: 100px;
    }
    .intro {
        margin-top: 20px;
    }
    .video-section {
        margin-top: 40px;
    }
}

@media (min-width:1200px) {
    .welcome-pic {
        max-width: 50%;
        margin-top: 80px;
    }
    .about-large-screen hr {
        margin-top: 40px;
    }
}


@media (min-width:992px) {
    .small-scrn-method-section {
        display: none;
    }
}

@media (min-width:810px) {
    form { 
        max-width: 60%;
        margin: 50px auto;
    }
    .recipe-page-header {
        font-size: 1.8em;
    }
    
}
/*---------------------------------Media Queries large screen end*/

/*---------------------------------Media Queries mobile screen*/ 



@media (max-width:810px) {
    .recipe-tabs {
        display: none;
    }
    .recipe-page-main-image {
        margin: 0 15px;
    }
}


@media (max-width:810px) {
.large-scrn-method-section {
    display: none;
   }
}

@media (max-width:1025px) {
    .disclaimer {
        display: none;
    }
}

 
/*---------------------------------Secondary Tab Nav*/


/*---------------------------------Secondary Tab Nav End*/

/*--------------------------------- Recipe Page Header*/
.recipe-page-header {
  padding: 0; 
  height: 25vh;
  background-color: #37948a;
  position: relative;
  text-align: center;
  color: white;
}



.header-image {
    width: 100%;
    height: 25vh;
    opacity: 0.6;
    background-color: #f58c5e;
}

.recipe-page-header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-size: 3.4em;
    
}


/*--------------------------------- Individual Recipe Pages*/


.method-text {
    padding: 20px;
}

.method-hr {
    background-color:#f58c5e;
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro {
   text-align: center;
   padding-top: 20px;
   padding-bottom: 15px;
}

.intro-header {
    padding-bottom: 30px;
}

.intro p {
    padding: 40px 20px 20px;
}

.image-border-radius {
    border-radius: 10px;
}

.sub-headers {
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   color: #f58c5e;
   padding-bottom: 10px;
   margin-bottom: 20px;
}

.recipe-video {
   display: block;
   margin: auto;
   padding-right: 15px;
   padding-left: 15px;
   padding-top: 20px;
}

.middle-section {
    margin-top: 60px;
}

.info-border {
    border: 2px solid #f58c5e;
    border-radius: 10px;
    margin-bottom: 50px;
}

.info-padding li {
    padding-bottom: 10px;
}

.ingred-bullet-point {
    color: #34948a;
}

.instruct-text {
    margin-left: 25px;
    padding-right: 10px;
}

.vlogger-pic {
    height: 200px;
    border-radius: 50%;
    border: 1px solid #f58c5e;
 }
   

.large-scrn-method-section {
    max-width: 80%;
    margin: 0 auto;
}

.large-scrn-method-section li {
    padding-right: 20px;
}

.large-scrn-method-section h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}


/*--------------------------------- Individual Recipe Pages End*/

/*---------------------------------Contact Us*/

.contact-text {
    padding: 20px 10px 0 10px;
    margin-top: 50px;
    margin-bottom: 60px;
    text-align: center;
}

form {
    
    border: 2px solid #dfdce3;
    border-radius:10px;
    padding:20px;
}

form label {
    color: #37948a; 
}

.form-btn {
     background-color: #37948a; 
     color: white;
 }
 
 .form-btn:hover {
    background-color: white;
    color: #37948a;
    border-color: #37948a;
 }
 
 
  
 
/*---------------------------------Contact Us End*/

/*---------------------------------Footer*/

footer {
    background-color: #f58c5e;
    height: 50px;
    margin-top: 50px;
}

.social-links {
    text-align: center;
    padding-top: 8px;
    margin: 0 auto;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    border: 1px solid;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #fafafa;
    color: #f58c5e;
}

.footer-container {
    position: relative
}

.disclaimer {
       color: white;
       position: absolute;
       padding-top: 15px;
       padding-left: 10px;
}

